.addstudent{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.addstudent > div{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.addstudent  input{
    padding: 5px;
}